################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vectra/.vs/Vectra
/Vectra/obj
/samples/BasicSample/.vs/BasicSample
/samples/BasicSample/bin/Debug/net6.0
/samples/BasicSample/index
/samples/BasicSample/obj
