################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vectra/.vs/Vectra
/Vectra/obj
/samples/BasicSample/.vs/BasicSample
/samples/BasicSample/index
/samples/BasicSample/obj
/samples/BasicSample/bin/Debug/net6.0
/Vectra/.vs/ProjectEvaluation
/Vectra/bin/Debug/net6.0
/Vectra.Tests/bin/Debug/net6.0
/Vectra.Tests/obj/Debug/net6.0
/Vectra.Tests/obj
/samples/BasicSample/.vs/ProjectEvaluation
